/*Google Fonts Open Sans Link */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans' sans-serif ;
        }


        body
        {
            width: 100%;
            height: 100vh;
            background: url(/IMG/fondo.png);
            background-size: none;
            background-repeat: no-repeat;
            background-position: left;
        }

        caption
        {
            text-align: center;
            font-size:45px;
            line-height: 70px;
        }

        .tftable
        {
            background: transparent;
            transition: .3s;
            position: absolute;
            top: 45%;
            left: 68%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 1;
            color: rgb(3, 3, 3);
            border-radius: 0%;
            width: 50%;
            height: 20%;
        }
        .tftable th
        {
            font: size 70px;
            background-color:rgb(139, 179, 212);
            border-width: 2px;
            padding: 8px;
            border-style: solid;
            border-color:  rgb(3, 3, 3);
            text-align:center;
        }
        .tftable tr
        {
            border-color: black;
        }
        .tftable td
        {
            font-size:16px;
            border-width: 1px;
            padding: 10px;
            border: solid 1px black;
        }
        .tftable tr:hover
        {
            background-color: rgb(172, 239, 248);
        }

        .tftable tr:nth-child(even) 
        {
            background-color: #eee;
        }
         .tftable tr:nth-child(odd) 
        {
            background-color:#dce8f8;
        }